.detailMainWrapper {
    padding-left: 40px;
    padding-right: 40px;
}
.informationSection {
    padding-top: 75px;
}
.movieinformation{
    margin-left: 50px;
}
.movieinformation .movietitle h4 {
    color: #fff;
    font-size: 32px;
    margin-top: 30px;
}
.description{
    padding-right: 40px;
    text-align: justify;
    margin-top: 30px;
    font-size: 20px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.89);
}
.castinformation{
    margin-top: 30px;
}
.seperator {
    border-left: 1px solid white;
    height: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.actions{
    margin-top: 50px;
}
.actions a{
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-right: 40px;
    background-color: #e50914;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
.playMsg {
    position: absolute;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 95px;
}
.addListMsg {
    position: absolute;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 95px;
    margin-left: 70px;
}
.removeListMsg {
    position: absolute;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 95px;
    margin-left: 50px;
}
.actions a i{
    float: left;
    font-size: 25px;
}

.episodeLists {
    display: block;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.mainHeading {
    margin-left: 5px;
    padding-bottom: 60px;
    border-bottom: 2px solid #555;
}
.mainHeading h4 {
    font-size: 25px;
    color: #e5e5e5;
    font-weight: 600;
    padding: 0px 30px;
}
.mainHeading .customSelect {
    float: right;
    position: relative;
}
.mainHeading .customSelect:after {
    content: "\25b6";
    position: absolute;
    margin-bottom: 12px;
    bottom: 0; right: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}
.mainHeading select {
    font-size: 18px;
    color: #e5e5e5;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: #fff;
    padding: 9px 18px;
    background-color: #242424;
    border-radius: 5px;
    padding-right: 30px;
    cursor: pointer;
}

.allEpisodes {
    padding: 0px 15px;
    margin-top: 20px;
}
.episode {
    display: inline-block;
    width: 100%;
    background-color: #242424;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.episode .playIcon {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.episode .playIcon i {
    font-size: 32px;
}
.episode .episodeTitle {
    float: center;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}